@charset "UTF-8";
@import '../../assets/scss/common/variables';
@import '../../assets/scss/common/mixins';

.note-input {

  border: 1px solid $border-color;
  background-color: $white-color;
  border-radius: 4px;

  &__header {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-weight: 600;
    color: $dark-color;
  }

  &__input {
    margin-top: 20px;
  }

  &__label {
    margin-top: 20px;
  }

  &__buttons {
    margin-top: 20px;
    > button:first-child {
      margin-right: 2px;
    }

    > button:last-child {
      margin-left: 2px;
    }
  }

}
