@charset "UTF-8";
@import '../../assets/scss/common/variables';
@import '../../assets/scss/common/mixins';

.note-list {

  &__item {
    border: 1px solid $border-color;
    background-color: $white-color;
    border-radius: 4px;

    &:not(:first-child) {

      margin-top: 8px;

    }

  }


  &__buttons {
    margin-top: 20px;

    > button:first-child {
      margin-right: 2px;
    }

    > button:last-child {
      margin-left: 2px;
    }
  }

  .selected-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 80px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
  }

}
