@charset "UTF-8";

@import '../../assets/scss/common/variables';

.input {
  appearance: none;
  outline: none;
  border: 1px solid $border-color;
  padding: 12px;
  font-size: 15px;
  border-radius: 4px;
  width: 100%;
}
