@charset "UTF-8";

@import '../../assets/scss/common/mixins';

.textarea {
  appearance: none;
  outline: none;
  resize: none;
  border: 1px solid $border-color;
  padding: 12px;
  font-size: 15px;
  border-radius: 4px;
  width: 100%;

  @include scroll-custom();

}
