@charset "UTF-8";
@import '../../assets/scss/common/variables';
@import '../../assets/scss/common/mixins';

.button {

  appearance: none;
  outline: none;
  border: 1px solid $primary-color;
  font-size: 16px;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 500;

  &--block {
    width: 100%;
  }

  &--small {
    font-size: 14px;
    padding: 4px 8px;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  @media (hover: hover) {

    &:hover {
      opacity: 0.85;
    }

    &--outline:hover {
      background-color: rgba(25,118,210, 0.1);
    }
  }

}


