@charset "UTF-8";
@import '../assets/scss/common/variables';

.index-wrap {
  min-height: 100%;
  background-color: $background-color;

  .index {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;

    &__note-input {

    }

    &__note-list {
      margin-top: 12px;
    }

  }

}
