@charset "UTF-8";
@import '../../assets/scss/common/mixins';

.modal {

  &__overlay {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;

    display: flex;
    align-items: center;
    justify-content: center;

    @include overlay-background();


    .modal-body {
      min-width: 300px;
      max-width: 350px;
      background-color: #ffffff;
      padding: 12px;
      border-radius: 8px;

      > h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }

      .modal-buttons {
        margin-top: 20px;
        > button:first-child {
          margin-right: 2px;
        }

        > button:last-child {
          margin-left: 2px;
        }
      }

      .modal-button {
        margin-top: 20px;
      }

    }

  }

}
