@charset "UTF-8";

@import '../../assets/scss/common/mixins';
@import '../../assets/scss/common/variables';

.header {
  position: relative;
  background-color: $header-bg-color;
  color: $dark-color;
  border-bottom: 1px solid $border-color;

  &__title {
    > p {
      font-size: 18px;
      letter-spacing: -0.5px;
      font-weight: 500;
    }
  }

  &__nav {
    a {
      text-decoration: none;
      color: $dark-color;
      font-size: 16px;

      &:not(:last-child) {
        margin-right: 10px;
      }

    }

    @include pointer-fine() {
      a:hover {
        color: $white-color;
      }
    }

    @include pointer-coarse() {
      a:active {
        color: $white-color;
      }
    }

  }
}
