@charset "UTF-8";

// break point
$xs: 640px; // mobile
$md: 960px; // desktop
$lg: 1140px; // large

// grid col num
$grid-cols-num: 12;

// color
$primary-color: #FFF9F4;
$secondary-color: #c0d0eb;
$dark-color: #151515;
$background-color: #F4F5FF;
$header-bg-color: #C8CEFF;
$footer-bg-color: #C8CEFF;
$white-color: #fcfcfc;
$border-color: #d9d9d9;
