@charset "UTF-8";

// break point
$xs: 640px; // mobile
$md: 960px; // desktop
$lg: 1140px; // large

// grid col num
$grid-cols-num: 12;

// color
$primary-color: #1976d2;
$secondary-color: #26a69a;
$dark-color: #151515;
$background-color: #fafafa;
$white-color: #ffffff;
$border-color: #cfcfcf;
$header-bg-color: #e8e8e8;
$footer-bg-color: #e8e8e8;
