@charset "UTF-8";
@import '../../assets/scss/common/mixins';
@import '../../assets/scss/common/variables';

.footer {
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 400;
  background-color: $footer-bg-color;
  color: $dark-color;

  border-top: 1px solid $border-color;

  &__description {
  }

  &__link {
    span {
      cursor: pointer;
    }

    @include pointer-fine() {
      span:hover {
        color: $white-color;
      }
    }

    @include pointer-coarse() {
      span:active {
        color: $white-color;
      }
    }

  }

}
