@charset "UTF-8";
@import '../../../assets/scss/common/variables';

.select-label-dropdown {

  cursor: pointer;
  position: relative;
  z-index: 999;
  padding: 2px 0;
  height: 28px;

  > span {
    letter-spacing: -0.3px;
    font-weight: 500;
    color: $dark-color;
    font-size: 16px;
  }

  > ul {
    position: absolute;
    top: calc(100% + 6px);
    margin: 0;
    padding: 0;

    border-radius: 6px;
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;

    li {
      width: 200px;
      min-height: 48px;
      padding: 8px 16px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      background-color: $white-color;
      transition: background-color 0.2s;

      > p {
        padding-right: 12px;
      }

      > span {
        display: inline-block;
        width: 64px;
        height: 14px;
        border-radius: 10px;
      }

      @include pointer-fine() {
        &:hover {
          background-color: #ededed;
        }
      }

      @include pointer-coarse() {
        &:active {
          background-color: #ededed;
        }
      }

    }


  }
}
